In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("hepatitis.csv",na_values = ["?"])
data.head()

,ID,target,age,gender,steroid,antivirals,fatigue,malaise,anorexia,liverBig,...,spleen,spiders,ascites,varices,bili,alk,sgot,albu,protime,histology
0,1,2,30,2,1.0,2,2.0,2.0,2.0,1.0,...,2.0,2.0,2.0,2.0,1.0,85.0,18.0,4.0,NaN,1
1,2,2,50,1,1.0,2,1.0,2.0,2.0,1.0,...,2.0,2.0,2.0,2.0,0.9,135.0,42.0,3.5,NaN,1
2,3,2,78,1,2.0,2,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,0.7,96.0,32.0,4.0,NaN,1
3,4,2,31,1,NaN,1,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,0.7,46.0,52.0,4.0,80.0,1
4,5,2,34,1,2.0,2,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,1.0,NaN,200.0,4.0,NaN,1

In [3]:
data.shape

(155, 21)

In [4]:
data.describe()

,ID,target,age,gender,steroid,antivirals,fatigue,malaise,anorexia,liverBig,...,spleen,spiders,ascites,varices,bili,alk,sgot,albu,protime,histology
count,155.000000,155.000000,155.000000,155.000000,154.000000,155.000000,154.000000,154.000000,154.000000,145.000000,...,150.00000,150.000000,150.000000,150.00000,149.000000,126.000000,151.00000,139.000000,88.000000,155.000000
mean,78.000000,1.793548,41.200000,1.103226,1.506494,1.845161,1.350649,1.603896,1.792208,1.827586,...,1.80000,1.660000,1.866667,1.88000,1.427517,105.325397,85.89404,3.817266,61.852273,1.451613
std,44.888751,0.406070,12.565878,0.305240,0.501589,0.362923,0.478730,0.490682,0.407051,0.379049,...,0.40134,0.475296,0.341073,0.32605,1.212149,51.508109,89.65089,0.651523,22.875244,0.499266
min,1.000000,1.000000,7.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.00000,1.000000,1.000000,1.00000,0.300000,26.000000,14.00000,2.100000,0.000000,1.000000
25%,39.500000,2.000000,32.000000,1.000000,1.000000,2.000000,1.000000,1.000000,2.000000,2.000000,...,2.00000,1.000000,2.000000,2.00000,0.700000,74.250000,31.50000,3.400000,46.000000,1.000000
50%,78.000000,2.000000,39.000000,1.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,...,2.00000,2.000000,2.000000,2.00000,1.000000,85.000000,58.00000,4.000000,61.000000,1.000000
75%,116.500000,2.000000,50.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.00000,2.000000,2.000000,2.00000,1.500000,132.250000,100.50000,4.200000,76.250000,2.000000
max,155.000000,2.000000,78.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.00000,2.000000,2.000000,2.00000,8.000000,295.000000,648.00000,6.400000,100.000000,2.000000

In [5]:
data.dtypes

ID              int64
target          int64
age             int64
gender          int64
steroid       float64
antivirals      int64
fatigue       float64
malaise       float64
anorexia      float64
liverBig      float64
liverFirm     float64
spleen        float64
spiders       float64
ascites       float64
varices       float64
bili          float64
alk           float64
sgot          float64
albu          float64
protime       float64
histology       int64
dtype: object

In [6]:
data.nunique()

ID            155
target          2
age            49
gender          2
steroid         2
antivirals      2
fatigue         2
malaise         2
anorexia        2
liverBig        2
liverFirm       2
spleen          2
spiders         2
ascites         2
varices         2
bili           34
alk            83
sgot           84
albu           29
protime        44
histology       2
dtype: int64

In [7]:
cat_cols = data.nunique()[data.nunique()<5].index
num_cols = data.nunique()[data.nunique()>=5].index
print(num_cols)
print(cat_cols)

Index(['ID', 'age', 'bili', 'alk', 'sgot', 'albu', 'protime'], dtype='object')
Index(['target', 'gender', 'steroid', 'antivirals', 'fatigue', 'malaise',
       'anorexia', 'liverBig', 'liverFirm', 'spleen', 'spiders', 'ascites',
       'varices', 'histology'],
      dtype='object')

In [8]:
data[cat_cols] = data[cat_cols].astype("category")

In [9]:
data.dtypes

ID               int64
target        category
age              int64
gender        category
steroid       category
antivirals    category
fatigue       category
malaise       category
anorexia      category
liverBig      category
liverFirm     category
spleen        category
spiders       category
ascites       category
varices       category
bili           float64
alk            float64
sgot           float64
albu           float64
protime        float64
histology     category
dtype: object

In [10]:
data.describe(include="all")

,ID,target,age,gender,steroid,antivirals,fatigue,malaise,anorexia,liverBig,...,spleen,spiders,ascites,varices,bili,alk,sgot,albu,protime,histology
count,155.000000,155.0,155.000000,155.0,154.0,155.0,154.0,154.0,154.0,145.0,...,150.0,150.0,150.0,150.0,149.000000,126.000000,151.00000,139.000000,88.000000,155.0
unique,NaN,2.0,NaN,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,2.0
top,NaN,2.0,NaN,1.0,2.0,2.0,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,1.0
freq,NaN,123.0,NaN,139.0,78.0,131.0,100.0,93.0,122.0,120.0,...,120.0,99.0,130.0,132.0,NaN,NaN,NaN,NaN,NaN,85.0
mean,78.000000,NaN,41.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.427517,105.325397,85.89404,3.817266,61.852273,NaN
std,44.888751,NaN,12.565878,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.212149,51.508109,89.65089,0.651523,22.875244,NaN
min,1.000000,NaN,7.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.300000,26.000000,14.00000,2.100000,0.000000,NaN
25%,39.500000,NaN,32.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.700000,74.250000,31.50000,3.400000,46.000000,NaN
50%,78.000000,NaN,39.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.000000,85.000000,58.00000,4.000000,61.000000,NaN
75%,116.500000,NaN,50.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.500000,132.250000,100.50000,4.200000,76.250000,NaN
max,155.000000,NaN,78.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8.000000,295.000000,648.00000,6.400000,100.000000,NaN

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 21 columns):
ID            155 non-null int64
target        155 non-null category
age           155 non-null int64
gender        155 non-null category
steroid       154 non-null category
antivirals    155 non-null category
fatigue       154 non-null category
malaise       154 non-null category
anorexia      154 non-null category
liverBig      145 non-null category
liverFirm     144 non-null category
spleen        150 non-null category
spiders       150 non-null category
ascites       150 non-null category
varices       150 non-null category
bili          149 non-null float64
alk           126 non-null float64
sgot          151 non-null float64
albu          139 non-null float64
protime       88 non-null float64
histology     155 non-null category
dtypes: category(14), float64(5), int64(2)
memory usage: 12.0 KB

In [12]:
data.target.value_counts()

2    123
1     32
Name: target, dtype: int64

In [13]:
data.head()

,ID,target,age,gender,steroid,antivirals,fatigue,malaise,anorexia,liverBig,...,spleen,spiders,ascites,varices,bili,alk,sgot,albu,protime,histology
0,1,2,30,2,1.0,2,2.0,2.0,2.0,1.0,...,2.0,2.0,2.0,2.0,1.0,85.0,18.0,4.0,NaN,1
1,2,2,50,1,1.0,2,1.0,2.0,2.0,1.0,...,2.0,2.0,2.0,2.0,0.9,135.0,42.0,3.5,NaN,1
2,3,2,78,1,2.0,2,1.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,0.7,96.0,32.0,4.0,NaN,1
3,4,2,31,1,NaN,1,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,0.7,46.0,52.0,4.0,80.0,1
4,5,2,34,1,2.0,2,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,1.0,NaN,200.0,4.0,NaN,1

# Pre-Processing

In [14]:
data = data.drop(["ID"],axis=1)

In [15]:
data.head()

,target,age,gender,steroid,antivirals,fatigue,malaise,anorexia,liverBig,liverFirm,spleen,spiders,ascites,varices,bili,alk,sgot,albu,protime,histology
0,2,30,2,1.0,2,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,85.0,18.0,4.0,NaN,1
1,2,50,1,1.0,2,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,0.9,135.0,42.0,3.5,NaN,1
2,2,78,1,2.0,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,96.0,32.0,4.0,NaN,1
3,2,31,1,NaN,1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,46.0,52.0,4.0,80.0,1
4,2,34,1,2.0,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,NaN,200.0,4.0,NaN,1

In [16]:
cat_cols = data.select_dtypes("category").columns
num_cols = data.select_dtypes(exclude="category").columns
print("Numerical Colums:",list(num_cols))
print("Categorical Colums:",list(cat_cols))

Numerical Colums: ['age', 'bili', 'alk', 'sgot', 'albu', 'protime']
Categorical Colums: ['target', 'gender', 'steroid', 'antivirals', 'fatigue', 'malaise', 'anorexia', 'liverBig', 'liverFirm', 'spleen', 'spiders', 'ascites', 'varices', 'histology']

In [17]:
data[cat_cols].isna().sum()

target         0
gender         0
steroid        1
antivirals     0
fatigue        1
malaise        1
anorexia       1
liverBig      10
liverFirm     11
spleen         5
spiders        5
ascites        5
varices        5
histology      0
dtype: int64

In [18]:
data[num_cols].isna().sum()

age         0
bili        6
alk        29
sgot        4
albu       16
protime    67
dtype: int64

## There are NAs

In [19]:
X = data.drop(["target"],axis=1)
y = data.target

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [22]:
y_train.value_counts()

2    99
1    25
Name: target, dtype: int64

In [23]:
y_test.value_counts()

2    24
1     7
Name: target, dtype: int64

In [24]:
cat_cols = cat_cols.drop("target")

In [25]:
X_train[cat_cols].isna().sum()

gender         0
steroid        1
antivirals     0
fatigue        1
malaise        1
anorexia       1
liverBig       9
liverFirm     10
spleen         4
spiders        4
ascites        4
varices        4
histology      0
dtype: int64

In [26]:
X_train[num_cols].isna().sum()

age         0
bili        5
alk        23
sgot        3
albu       11
protime    54
dtype: int64

# Simple Imputer for the Categorical Columns

In [27]:
from sklearn.impute import SimpleImputer

In [28]:
cat_imputer = SimpleImputer(strategy="most_frequent")
num_imputer = SimpleImputer()

In [29]:
cat_imputer.fit(X_train[cat_cols])
num_imputer.fit(X_train[num_cols])

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='mean', verbose=0)

In [30]:
cat_df = pd.DataFrame(cat_imputer.transform(X_train[cat_cols]),columns=cat_cols)

In [31]:
cat_df.head()

,gender,steroid,antivirals,fatigue,malaise,anorexia,liverBig,liverFirm,spleen,spiders,ascites,varices,histology
0,1,2,2,1,1,2,2,1,2,2,1,1,2
1,1,2,2,1,2,2,2,1,2,2,2,2,2
2,1,1,2,1,1,1,2,1,2,1,1,1,2
3,1,1,2,1,1,1,2,2,2,2,2,2,2
4,1,2,2,1,1,2,2,2,2,2,2,2,1

# Using KNN imputer for numerical

In [32]:
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler

In [33]:
knn_imputer = KNNImputer()

In [34]:
knn_imputer.fit(X_train[num_cols])

KNNImputer(add_indicator=False, copy=True, metric='nan_euclidean',
           missing_values=nan, n_neighbors=5, weights='uniform')

In [35]:
num_df = pd.DataFrame(knn_imputer.transform(X_train[num_cols]),columns=num_cols)

In [36]:
num_df.head()

    age  bili    alk   sgot  albu  protime
0  47.0   1.7   86.0   20.0   2.1     46.0
1  44.0   0.9  126.0  142.0   4.3     61.0
2  38.0   1.2  118.0   16.0   2.8     64.0
3  45.0   2.3  146.4  648.0   3.5     47.2
4  49.0   0.8  103.0   43.0   3.5     66.0

In [37]:
X_imputed_train = pd.concat([cat_df,num_df],axis=1)[X_train.columns]

In [38]:
X_imputed_test = pd.concat([pd.DataFrame(cat_imputer.transform(X_test[cat_cols]),columns=cat_cols),
                            pd.DataFrame(knn_imputer.transform(X_test[num_cols]),columns=num_cols)],axis=1)[X_train.columns]

In [39]:
X_imputed_dummified_train = pd.get_dummies(X_imputed_train,drop_first=True)
X_imputed_dummified_test = pd.get_dummies(X_imputed_test,drop_first=True)

In [40]:
# Scaling the numerical data of train
scaler = StandardScaler()
scaler.fit(X_imputed_dummified_train[num_cols])
X_imputed_dummified_train[num_cols] = scaler.transform(X_imputed_dummified_train[num_cols])

In [41]:
# Scaling the test data
X_imputed_dummified_test[num_cols] = scaler.transform(X_imputed_dummified_test[num_cols])

In [103]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

In [104]:
param_grid = {"C":range(1,10),"kernel":['linear', 'poly', 'rbf', 'sigmoid'],'degree':range(2,10)}

In [105]:
svc_model = SVC(class_weight="balanced")
grid_cv = GridSearchCV(svc_model,param_grid,verbose=15,n_jobs=-1)

In [106]:
grid_cv.fit(X_imputed_dummified_train,y_train)

Fitting 5 folds for each of 288 candidates, totalling 1440 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:    8.2s
[Parallel(n_jobs=-1)]: Done   2 tasks      | elapsed:    8.3s
[Parallel(n_jobs=-1)]: Done   3 tasks      | elapsed:    8.3s
[Parallel(n_jobs=-1)]: Done   4 tasks      | elapsed:    8.3s
[Parallel(n_jobs=-1)]: Done   5 tasks      | elapsed:    8.3s
[Parallel(n_jobs=-1)]: Done   6 tasks      | elapsed:    8.3s
[Parallel(n_jobs=-1)]: Done   7 tasks      | elapsed:    8.3s
[Parallel(n_jobs=-1)]: Done   8 tasks      | elapsed:    8.4s
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:    8.4s
[Parallel(n_jobs=-1)]: Done  10 tasks      | elapsed:    8.4s
[Parallel(n_jobs=-1)]: Done  11 tasks      | elapsed:    8.4s
[Parallel(n_jobs=-1)]: Done  12 tasks      | elapsed:    8.4s
[Parallel(n_jobs=-1)]: Done  13 tasks      | elapsed:    8.4s
[Parallel(n_jobs=-1)]: Done  14 tasks      | elapsed:    8.4s
[Parallel(n_jobs=-1)]: Done  15 tasks      | elapsed:    8.4s
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    8.4s
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    8.4s
[Parallel(n_jobs=-1)]: Done  18 tasks      | elapsed:    8.4s
[Parallel(n_jobs=-1)]: Done  19 tasks      | elapsed:    8.5s
[Parallel(n_jobs=-1)]: Done  20 tasks      | elapsed:    8.5s
[Parallel(n_jobs=-1)]: Done  21 tasks      | elapsed:    8.5s
[Parallel(n_jobs=-1)]: Done  22 tasks      | elapsed:    8.5s
[Parallel(n_jobs=-1)]: Done  23 tasks      | elapsed:    8.5s
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    8.5s
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1997s.) Setting batch_size=2.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:    8.5s
[Parallel(n_jobs=-1)]: Done  26 tasks      | elapsed:    8.5s
[Parallel(n_jobs=-1)]: Done  27 tasks      | elapsed:    8.5s
[Parallel(n_jobs=-1)]: Done  28 tasks      | elapsed:    8.5s
[Parallel(n_jobs=-1)]: Done  29 tasks      | elapsed:    8.5s
[Parallel(n_jobs=-1)]: Done  30 tasks      | elapsed:    8.5s
[Parallel(n_jobs=-1)]: Done  32 tasks      | elapsed:    8.5s
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0460s.) Setting batch_size=4.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    8.6s
[Parallel(n_jobs=-1)]: Done  36 tasks      | elapsed:    8.6s
[Parallel(n_jobs=-1)]: Done  38 tasks      | elapsed:    8.6s
[Parallel(n_jobs=-1)]: Done  40 tasks      | elapsed:    8.6s
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    8.6s
[Parallel(n_jobs=-1)]: Done  44 tasks      | elapsed:    8.6s
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:    8.6s
[Parallel(n_jobs=-1)]: Done  50 tasks      | elapsed:    8.7s
[Parallel(n_jobs=-1)]: Batch computation too fast (0.0820s.) Setting batch_size=8.
[Parallel(n_jobs=-1)]: Done  54 tasks      | elapsed:    8.7s
[Parallel(n_jobs=-1)]: Done  58 tasks      | elapsed:    8.7s
[Parallel(n_jobs=-1)]: Done  62 tasks      | elapsed:    8.7s
[Parallel(n_jobs=-1)]: Done  66 tasks      | elapsed:    8.8s
[Parallel(n_jobs=-1)]: Done  70 tasks      | elapsed:    8.8s
[Parallel(n_jobs=-1)]: Done  74 tasks      | elapsed:    8.8s
[Parallel(n_jobs=-1)]: Done  78 tasks      | elapsed:    8.8s
[Parallel(n_jobs=-1)]: Done  79 tasks      | elapsed:    8.8s
[Parallel(n_jobs=-1)]: Done  87 tasks      | elapsed:    8.9s
[Parallel(n_jobs=-1)]: Batch computation too fast (0.1669s.) Setting batch_size=16.
[Parallel(n_jobs=-1)]: Done  95 tasks      | elapsed:    8.9s
[Parallel(n_jobs=-1)]: Done 103 tasks      | elapsed:    9.0s
[Parallel(n_jobs=-1)]: Done 111 tasks      | elapsed:    9.0s
[Parallel(n_jobs=-1)]: Done 119 tasks      | elapsed:    9.0s
[Parallel(n_jobs=-1)]: Done 127 tasks      | elapsed:    9.0s
[Parallel(n_jobs=-1)]: Done 135 tasks      | elapsed:    9.1s
[Parallel(n_jobs=-1)]: Done 143 tasks      | elapsed:    9.1s
[Parallel(n_jobs=-1)]: Done 144 tasks      | elapsed:    9.2s
[Parallel(n_jobs=-1)]: Done 160 tasks      | elapsed:    9.2s
[Parallel(n_jobs=-1)]: Done 176 tasks      | elapsed:    9.3s
[Parallel(n_jobs=-1)]: Done 192 tasks      | elapsed:    9.3s
[Parallel(n_jobs=-1)]: Done 208 tasks      | elapsed:    9.4s
[Parallel(n_jobs=-1)]: Done 224 tasks      | elapsed:    9.4s
[Parallel(n_jobs=-1)]: Done 240 tasks      | elapsed:    9.4s
[Parallel(n_jobs=-1)]: Done 256 tasks      | elapsed:    9.5s
[Parallel(n_jobs=-1)]: Done 272 tasks      | elapsed:    9.6s
[Parallel(n_jobs=-1)]: Done 288 tasks      | elapsed:    9.6s
[Parallel(n_jobs=-1)]: Done 304 tasks      | elapsed:    9.7s
[Parallel(n_jobs=-1)]: Done 320 tasks      | elapsed:    9.7s
[Parallel(n_jobs=-1)]: Done 336 tasks      | elapsed:    9.8s
[Parallel(n_jobs=-1)]: Done 352 tasks      | elapsed:    9.9s
[Parallel(n_jobs=-1)]: Done 368 tasks      | elapsed:    9.9s
[Parallel(n_jobs=-1)]: Done 384 tasks      | elapsed:    9.9s
[Parallel(n_jobs=-1)]: Done 400 tasks      | elapsed:   10.0s
[Parallel(n_jobs=-1)]: Done 416 tasks      | elapsed:   10.1s
[Parallel(n_jobs=-1)]: Done 432 tasks      | elapsed:   10.1s
[Parallel(n_jobs=-1)]: Done 448 tasks      | elapsed:   10.2s
[Parallel(n_jobs=-1)]: Done 464 tasks      | elapsed:   10.2s
[Parallel(n_jobs=-1)]: Done 480 tasks      | elapsed:   10.3s
[Parallel(n_jobs=-1)]: Done 496 tasks      | elapsed:   10.4s
[Parallel(n_jobs=-1)]: Done 512 tasks      | elapsed:   10.4s
[Parallel(n_jobs=-1)]: Done 528 tasks      | elapsed:   10.4s
[Parallel(n_jobs=-1)]: Done 544 tasks      | elapsed:   10.5s
[Parallel(n_jobs=-1)]: Done 560 tasks      | elapsed:   10.5s
[Parallel(n_jobs=-1)]: Done 576 tasks      | elapsed:   10.6s
[Parallel(n_jobs=-1)]: Done 592 tasks      | elapsed:   10.6s
[Parallel(n_jobs=-1)]: Done 608 tasks      | elapsed:   10.7s
[Parallel(n_jobs=-1)]: Done 624 tasks      | elapsed:   10.8s
[Parallel(n_jobs=-1)]: Done 640 tasks      | elapsed:   10.8s
[Parallel(n_jobs=-1)]: Done 656 tasks      | elapsed:   10.9s
[Parallel(n_jobs=-1)]: Done 672 tasks      | elapsed:   11.0s
[Parallel(n_jobs=-1)]: Done 688 tasks      | elapsed:   11.0s
[Parallel(n_jobs=-1)]: Done 704 tasks      | elapsed:   11.1s
[Parallel(n_jobs=-1)]: Done 720 tasks      | elapsed:   11.1s
[Parallel(n_jobs=-1)]: Done 736 tasks      | elapsed:   11.2s
[Parallel(n_jobs=-1)]: Done 752 tasks      | elapsed:   11.3s
[Parallel(n_jobs=-1)]: Done 768 tasks      | elapsed:   11.3s
[Parallel(n_jobs=-1)]: Done 784 tasks      | elapsed:   11.4s
[Parallel(n_jobs=-1)]: Done 800 tasks      | elapsed:   11.4s
[Parallel(n_jobs=-1)]: Done 816 tasks      | elapsed:   11.5s
[Parallel(n_jobs=-1)]: Done 832 tasks      | elapsed:   11.5s
[Parallel(n_jobs=-1)]: Done 848 tasks      | elapsed:   11.6s
[Parallel(n_jobs=-1)]: Done 864 tasks      | elapsed:   11.6s
[Parallel(n_jobs=-1)]: Done 880 tasks      | elapsed:   11.7s
[Parallel(n_jobs=-1)]: Done 896 tasks      | elapsed:   11.8s
[Parallel(n_jobs=-1)]: Done 912 tasks      | elapsed:   11.8s
[Parallel(n_jobs=-1)]: Done 928 tasks      | elapsed:   11.9s
[Parallel(n_jobs=-1)]: Done 944 tasks      | elapsed:   11.9s
[Parallel(n_jobs=-1)]: Done 960 tasks      | elapsed:   11.9s
[Parallel(n_jobs=-1)]: Done 976 tasks      | elapsed:   12.0s
[Parallel(n_jobs=-1)]: Done 992 tasks      | elapsed:   12.1s
[Parallel(n_jobs=-1)]: Done 1008 tasks      | elapsed:   12.1s
[Parallel(n_jobs=-1)]: Done 1024 tasks      | elapsed:   12.2s
[Parallel(n_jobs=-1)]: Done 1040 tasks      | elapsed:   12.3s
[Parallel(n_jobs=-1)]: Done 1056 tasks      | elapsed:   12.4s
[Parallel(n_jobs=-1)]: Done 1072 tasks      | elapsed:   12.4s
[Parallel(n_jobs=-1)]: Done 1088 tasks      | elapsed:   12.4s
[Parallel(n_jobs=-1)]: Done 1104 tasks      | elapsed:   12.5s
[Parallel(n_jobs=-1)]: Done 1120 tasks      | elapsed:   12.6s
[Parallel(n_jobs=-1)]: Done 1136 tasks      | elapsed:   12.6s
[Parallel(n_jobs=-1)]: Done 1152 tasks      | elapsed:   12.7s
[Parallel(n_jobs=-1)]: Done 1168 tasks      | elapsed:   12.7s
[Parallel(n_jobs=-1)]: Done 1184 tasks      | elapsed:   12.8s
[Parallel(n_jobs=-1)]: Done 1200 tasks      | elapsed:   12.9s
[Parallel(n_jobs=-1)]: Done 1216 tasks      | elapsed:   12.9s
[Parallel(n_jobs=-1)]: Done 1232 tasks      | elapsed:   13.0s
[Parallel(n_jobs=-1)]: Done 1248 tasks      | elapsed:   13.0s
[Parallel(n_jobs=-1)]: Done 1264 tasks      | elapsed:   13.1s
[Parallel(n_jobs=-1)]: Done 1280 tasks      | elapsed:   13.1s
[Parallel(n_jobs=-1)]: Done 1296 tasks      | elapsed:   13.2s
[Parallel(n_jobs=-1)]: Done 1312 tasks      | elapsed:   13.3s
[Parallel(n_jobs=-1)]: Done 1328 tasks      | elapsed:   13.3s

[Parallel(n_jobs=-1)]: Done 1344 tasks      | elapsed:   13.4s
[Parallel(n_jobs=-1)]: Done 1360 tasks      | elapsed:   13.4s
[Parallel(n_jobs=-1)]: Done 1376 tasks      | elapsed:   13.5s
[Parallel(n_jobs=-1)]: Done 1377 tasks      | elapsed:   13.5s
[Parallel(n_jobs=-1)]: Done 1393 tasks      | elapsed:   13.5s
[Parallel(n_jobs=-1)]: Done 1394 tasks      | elapsed:   13.5s
[Parallel(n_jobs=-1)]: Done 1395 tasks      | elapsed:   13.5s
[Parallel(n_jobs=-1)]: Done 1396 tasks      | elapsed:   13.5s
[Parallel(n_jobs=-1)]: Done 1397 tasks      | elapsed:   13.5s
[Parallel(n_jobs=-1)]: Done 1398 tasks      | elapsed:   13.5s
[Parallel(n_jobs=-1)]: Done 1399 tasks      | elapsed:   13.5s
[Parallel(n_jobs=-1)]: Done 1400 tasks      | elapsed:   13.5s
[Parallel(n_jobs=-1)]: Done 1401 tasks      | elapsed:   13.5s
[Parallel(n_jobs=-1)]: Done 1402 tasks      | elapsed:   13.5s
[Parallel(n_jobs=-1)]: Done 1403 tasks      | elapsed:   13.6s
[Parallel(n_jobs=-1)]: Done 1440 out of 1440 | elapsed:   13.6s finished

GridSearchCV(cv=None, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight='balanced', coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'C': range(1, 10), 'degree': range(2, 10),
                         'kernel': ['linear', 'poly', 'rbf', 'sigmoid']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=15)

In [107]:
grid_cv.best_estimator_

SVC(C=1, break_ties=False, cache_size=200, class_weight='balanced', coef0=0.0,
    decision_function_shape='ovr', degree=6, gamma='scale', kernel='poly',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [108]:
y_train_pred = grid_cv.predict(X_imputed_dummified_train)
y_test_pred = grid_cv.predict(X_imputed_dummified_test)

In [109]:
from sklearn.metrics import classification_report

In [110]:
print(classification_report(y_train,y_train_pred))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00        25
           2       1.00      1.00      1.00        99

    accuracy                           1.00       124
   macro avg       1.00      1.00      1.00       124
weighted avg       1.00      1.00      1.00       124

In [111]:
print(classification_report(y_test,y_test_pred))

              precision    recall  f1-score   support

           1       0.80      0.57      0.67         7
           2       0.88      0.96      0.92        24

    accuracy                           0.87        31
   macro avg       0.84      0.76      0.79        31
weighted avg       0.87      0.87      0.86        31

In [112]:
grid_cv.best_params_

{'C': 1, 'degree': 6, 'kernel': 'poly'}